<div class="hero-container">
	<div class="hero-text">
      <h1>Freshly roasted coffee, delivered to your house or served at ours</h1>
      <a href="" class="button-style">SHOP FOR COFFEE</a>
      <a href="" class="button-style-reverse">VISIT US INSTORE</a>
  	</div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
