<!-- /templates/index.liquid -->
<!-- varibale enclosed in double brackets content_for_index  -->
<div class="index-sections">
  <div class=" two-column-grid category-container">
  	  

<!--      first row    -->
    <h1>Image</h1>
    <section class="container-width">
      <h1>Green beans for you to roast at home</h1>
      <p>We import our green beans from all over the world (Kenya, Ethopia & Colombia) for you to roast at home.<p>
      <a class="button-style" href="">SHOP GREEN BEANS</a>
    </section>   
        
 <!--      second row    -->
    
    <section class="container-width">
      <h1>Perfectly roasted coffee for you to enjoy at your place</h1>
      <p>We roast and ship coffee every workday to ensure that your morning cup of tea is as fresh as possible. Four different grind options and three packet sizes as well as decaf and regular.<p>
      <a class="button-style" href="">Shop Roasted Coffee</a>
    </section> 
    <h1>Image</h1>
    
    <!--      third row    -->
    <h1>Image</h1>
    <section class="container-width">
      <h1>Nespresso compatible pods</h1>
      <p>We make and fill our own pods in-store for you to enjoy at your home or office. Decaf or regular we've got you sorted.<p>
      <a class="button-style" href="">Shop Coffee Pods</a>
    </section>   
    
    <!--      fourth row    -->
    
    <section class="container-width">
      <h1>Roasting and Brewing Equipment</h1>
      <p>We've selected what we think are the best in coffee roasters and cold brew equipment, so that you can purchase knowing it's going to get the job done properly.<p>
      <a class="button-style" href="">Shop Coffee Equipment</a>
    </section>
    <h1>Image</h1>
    
     <!--      fifth row    -->
    <h1>Image</h1>
    <section class="container-width">
      <h1>Vouchers and Coffee Cards</h1>
      <p>We also have gift vouchers and Prepaid Coffee Cards.<p>
      <a class="button-style" href="">Shop Vouchers</a>
    </section>   
    
    <!--      sixth row    -->
    
    <section class="container-width">
      <h1>Come and see us instore at the Glenfield Mall</h1>
      <p>Grab a snack, luch or cup of coffee. We're open 7 days a week and you can find us on Level 5.<p>
      <a class="button-style" href="">See Our Location</a>
    </section>
    <h1>Image</h1>
  </div>
  
</div>

