<!-- /templates/index.liquid -->
<!-- varibale enclosed in double brackets content_for_index  -->
<div class="index-sections">
  <div class=" two-column-grid category-container">
  	  

<!--      first row    -->
    <img src="https://cdn.shopify.com/s/files/1/0194/3912/4580/files/pexels-maksim-goncharenok-4815899_1.png?v=1629972683">
    <section class="container-width">
      <h1>Green beans for you to roast at home</h1>
      <p>We import our green beans from all over the world (Kenya, Ethopia & Colombia) for you to roast at home.<p>
      <a class="button-style" href="collections/green-coffee-beans">SHOP GREEN BEANS</a>
    </section>   
  </div>     
 <!--      second row    -->
     <div class=" two-column-grid">
  	  
    <section class="container-width-extra">
      <h1>Perfectly roasted coffee for you to enjoy at your place</h1>
      <p>We roast and ship coffee every workday to ensure that your morning cup of tea is as fresh as possible. Four different grind options and three packet sizes as well as decaf and regular.<p>
      <a class="button-style" href="collections/coffee-beans">Shop Roasted Coffee</a>
    </section> 
    <img src="https://cdn.shopify.com/s/files/1/0194/3912/4580/files/pexels-polina-tankilevitch-4109750_2.png?v=1629972683">
   </div>
  	  
     <div class=" two-column-grid category-container">
  	  
    <!--      third row    -->
    <img src="https://cdn.shopify.com/s/files/1/0194/3912/4580/files/stock-photo-beautiful-colored-coffee-capsules-on-light-blue-background-1087288529_1.png?v=1629972683"> 
    <section class="container-width">
      <h1>Nespresso compatible pods</h1>
      <p>We make and fill our own pods in-store for you to enjoy at your home or office. Decaf or regular we've got you sorted.<p>
      <a class="button-style" href="collections/coffee-pods">Shop Coffee Pods</a>
    </section>   
    </div>
    <!--      fourth row    -->
     <div class=" two-column-grid">
  	  
    <section class="container-width-extra">
      <h1>Roasting and Brewing Equipment</h1>
      <p>We've selected what we think are the best in coffee roasters and cold brew equipment, so that you can purchase knowing it's going to get the job done properly.<p>
      <a class="button-style" href="collections/soft-brew-equipment">Shop Coffee Equipment</a>
    </section>
   <img src="https://cdn.shopify.com/s/files/1/0194/3912/4580/files/Body_brew_1.png?v=1629972683">
       </div>
     <!--      fifth row    -->
        <div class=" two-column-grid category-container">
  	  
    <img src="https://cdn.shopify.com/s/files/1/0194/3912/4580/files/PrepaidCard_1024x1024_5558f565-69a2-4153-a21a-17edacb1b741.png?v=1629972683">
    <section class="container-width">
      <h1>Vouchers and Coffee Cards</h1>
      <p>We also have gift vouchers and Prepaid Coffee Cards.<p>
      <a class="button-style" href="collections/gift-card">Shop Vouchers</a>
    </section>   
       </div>
    <!--      sixth row    -->
     <div class=" two-column-grid ">
  	  
    <section class="container-width-extra">
      <h1>Come and see us instore at the Glenfield Mall</h1>
      <p>Grab a snack, luch or cup of coffee. We're open 7 days a week and you can find us on Level 5.<p>
      <a class="button-style" target="_blank" href="https://maps.google.com/?daddr=Little%20Things%20Coffee%20Shop%20and%20Micro-Roastery,%20Glenfield%20Mall%20Shop%20502C,%20Level%205/385%20Glenfield%20Road,%20Glenfield,%20Auckland%200629">See Our Location</a>
    </section>
     <img src="https://cdn.shopify.com/s/files/1/0194/3912/4580/files/150523404_421847729073145_5117305452464557211_n_1.png?v=1629972683">
  </div>
       </div>


</div>
