<div class="brew-background-container">
  <div class="brew-overlay"></div>
  <div class="two-column-grid brew-container">
  	<section>
      <img>
    </section>
   
    <section class="brew-description">
      
      <h1>How to Brew</h1>
      
      <h5>Espresso</h5>
      <p>Use approx 17-18g of espresso ground coffee for an approx extraction time of 26 seconds.</p>
      <p>Get a bit more acidity with a slightly lower extraction time or more bitterness with a slightly higher extraction time. Your extraction time range should be between 22 and 30 seconds.</p>
    
      <h5>Filter</h5>
      <p>Use a ratio of 1 part Filter ground coffee to 15 parts hot water ie 15g coffee to 225mls water. </p>
      
      <h5>Plunger</h5>
      <p>Use a ratio of 1 part Plunger ground coffee to 17 parts hot water ie 30g coffee to 510mls water. Let it steep for 4 min.</p>
      
    </section>
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
