/* custom css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1rem;
}

.background-image {
  background-image: url("https://cdn.shopify.com/s/files/1/0194/3912/4580/files/malik-skydsgaard-ylGcmefqE_I-unsplash.jpg?v=1629274641");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

/* announcement bar */

.announcement-bar {
  position: relative;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.announcement-bar__message {
  display: block;
  font-weight: 200;
  padding: 10px 20px;
  margin: 0;
}

.announcement-bar-right {
  text-align: right;
  color: white;
}

.announcement-bar-right ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.announcement-bar-right ul li a {
  color: white;
  padding: 10px 20px;
  font-size: 0.9rem;
  margin-top: 20px;
  align-self: center;
}
.announcement-bar-right ul li i {
  color: white;
  padding: 10px 5px;
  font-size: 1.2rem;
}
.announcement-bar-right ul li a span.icon-cart {
  font-size: 1.2rem;
}

/* hero section */
.hero-container {
  width: 100vw;
  height: 60vh;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 40%;
}

.site-nav--compress .site-nav__item:not(.site-nav__item--compressed) {
  display: block;
}

/* footer */
footer {
  background-color: #000;
  width: 100vw;
  padding: 5rem 0;
  min-height: 35vh;
  color: white;
}
.footer-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.footer-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.footer-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-links {
  color: white !important;
}

/* hamburger */

#hamburger {
  display: none;
}

/* 22 aug */
.site-nav.category-list a {
  color: white;
  font-size: 0.9rem;
}
.site-nav--has-dropdown.nav-hover > a,
.site-nav--has-dropdown:hover > a,
.site-nav--has-dropdown > a.nav-focus {
  color: #000;
  background-color: #fff;
  opacity: 1;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.site-nav__dropdown a,
.site-nav__grandchild-dropdown a {
  background-color: transparent;
  color: #000 !important;
}
.button-hover:hover {
  background-color: #000;
  opacity: 0.6;
}



/* 26 aug */

.coffee-collection
{
  width:50%;
  margin:auto;
}


.grid-item-background
{
  background-color:white;
  max-width:400px;
  min-height:450px;
  margin:2rem 0.5rem;
  border:1px solid white;
  border-radius:5px;
}
.grid-collage
{
	margin-top:-2rem;
}

.bean-roaster-collection-container
{
  margin:8rem;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.bean-roaster-collection-container section
{
  width:80%;
	margin:auto;
}

.product-container
{
  width:60%;
  margin:auto;
  background-color:white;
  padding:40px;
  color:#000;
  border:2px solid white;
  border-radius:5px;
}
