/* custom css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



body,html
{
  max-width:100%;
  overflow-x:hidden;
  padding:0;
  margin:0;
   font-family: 'Montserrat', sans-serif;
  color:white;
  font-size:1rem;
  box-sizing:border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family:  'Montserrat', sans-serif;
  color:white !important;
}

p,a
{
  font-size:1rem;
  line-height:1.7;
  margin:0;
  font-weight:300;
}

li,ul,ol
{
  margin:0;
  padding:0;
}

.page-container {
  padding-top: 0 !important;
}

.container-width
{
  max-width:80%;
  margin:auto;
}

.container-width-extra
{
  max-width:70%;
  margin:auto;
}

/* 21 aug work */
.header-menu
{
  max-width:100%;
  margin:auto;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
/*   grid-template-columns:repeat(3,minmax(500px,1fr)); */
  justify-content:center;
  align-items:center;
  grid-gap:1rem;
}

.header-menu div
{
  align-self:center;
}

.header-menu ul.category-list
{
  display:flex;
}

.two-column-grid
{
   display:grid;
  grid-template-columns:1fr 1fr;
  justify-content:center;
  align-items:center;
 
}

.category-container
{
	width:70%;
  margin:auto;
   grid-gap:2rem;
  grid-row-gap:10rem;
  padding-bottom:6rem;
  
}

/* 
22 aug */



.input-group .input-group-btn:first-child, .input-group .input-group-btn:first-child>.btn, .input-group .input-group-btn:first-child>.btn--secondary, .input-group .input-group-field:first-child, .input-group .shopify-payment-button .input-group-btn:first-child>.shopify-payment-button__button--unbranded, .input-group .shopify-payment-button input[type=hidden]:first-child+.input-group-btn>.shopify-payment-button__button--unbranded, .input-group input[type=hidden]:first-child+.input-group-btn>.btn, .input-group input[type=hidden]:first-child+.input-group-btn>.btn--secondary, .input-group input[type=hidden]:first-child+.input-group-field, .shopify-payment-button .input-group .input-group-btn:first-child>.shopify-payment-button__button--unbranded, .shopify-payment-button .input-group input[type=hidden]:first-child+.input-group-btn>.shopify-payment-button__button--unbranded {
    border-radius:5px;
}


/* 25 Aug */

.wrapper
{
	max-width:100%;
   
}

.coffee-hero
{
  width:90%;
  margin:auto;
  min-height:50vh;
  
}

.coffee-hero img
{
	margin-top:-100px;
}
.two-column-grid-odd
{
  display:grid;
  grid-template-columns:2fr 1fr;
  justify-content:center;
  align-items:center;
}

.header-margin
{
	margin-top:7rem;
}

.cart__row:first-child {
    border-bottom: 2px solid white;
}

.cart__row--last {
    border-top:2px solid white;
}



.button-style {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 8px 20px;
  text-transform: uppercase;
  margin-top: 40px;
  text-align: center;
  /*   letter-spacing: 4px; */
  margin: 20px 10px 0 0;
  font-weight: 800;
  /*   border: 2px solid #a9a9a9; */
  border-radius: 4px;
  transition: all 0.3s ease-in;
}

.button-style:hover {
  color: white;
  background-color: #000;
}

.button-style-reverse {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 8px 20px;
  text-transform: uppercase;
  margin-top: 40px;
  text-align: center;
  /*   letter-spacing: 4px; */
  margin: 20px 10px 0 0;
  font-weight: 800;
  border: 2px solid #fff;
  border-radius: 4px;
  transition: all 0.3s ease-in;
}

.button-style-reverse:hover {
  color: white;
  background-color: #000;
  border: 2px solid #000;
}

.product-container-title
{
	color:#000 !important;
}